NITRO_MCP_SERVER_HOST=
NITRO_MCP_SERVER_PORT=

NITRO_MCP_SERVER_AUTH_ENABLED=

# Default auth provider
NITRO_MCP_SERVER_AUTH_DEFAULT_PROVIDER=auth0

# Auth0 configuration
NITRO_MCP_SERVER_AUTH_PROVIDERS_AUTH0_DOMAIN=
NITRO_MCP_SERVER_AUTH_PROVIDERS_AUTH0_CLIENT_ID=
NITRO_MCP_SERVER_AUTH_PROVIDERS_AUTH0_CLIENT_SECRET=
NITRO_MCP_SERVER_AUTH_PROVIDERS_AUTH0_SCOPE=

# Entra ID (Azure AD) configuration
NITRO_MCP_SERVER_AUTH_PROVIDERS_ENTRA_TENANT_ID=
NITRO_MCP_SERVER_AUTH_PROVIDERS_ENTRA_CLIENT_ID=
NITRO_MCP_SERVER_AUTH_PROVIDERS_ENTRA_CLIENT_SECRET=
NITRO_MCP_SERVER_AUTH_PROVIDERS_ENTRA_SCOPE=